<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Статья/Новость -->
{% block title %}
    {% if post.a_or_n == 1 %}
        Статья
    {% else %}
        Новость
    {% endif %}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<!--<h1>{{ post }}</h1> -->
<h1>{{ post.header|censor }}</h1>
<h1>{{ post.time_create|date:'M d Y' }}</h1>
<h1>{{ post.article_text|truncatechars:20 }}</h1>
{% endblock content %}

